:root {
  --background-color: #e3e5e8;
  --text-color: #28292c;
  --link: rgb(27, 129, 112);
  --header-color: rgb(139, 147, 146);
}

:root.dark-theme {
  --text-color: #d8dbe0;
  --background-color: #28292c;
  --link: rgb(27, 129, 112);
  --link-hover: rgb(24, 94, 82);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


.column {
  flex-direction: column;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  height: 100vh;
  width: 100vw;
}


label {
  position: absolute;
  width: 60%;
  height: 30px;
  background-color: var(--background-color);
  border-radius: 25px;
  cursor: pointer;
}

input {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 30px;
  border-radius: 50px;
  transition: 0.3s;
  background-color: rgb(208, 207, 203)
}

input:checked ~ .slider {
  background-color: var(--text-color);
}

.slider::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 16px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  box-shadow: inset 5px -4px 0px 0px var(--text-color);
  background-color: rgb(208, 207, 203);
  transition: 0.5s;
}

input:checked ~ .slider::before {
  transform: translateX(35px);
  background-color: var(--background-color);
  box-shadow: none;
}

a:hover {
  color: var(--link-hover);
}

.toggle-switch {
  display: flex;
  justify-content: space-between;
  padding: 0 5rem 0 3rem
}

.checkbox-container {
  padding-left: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  padding: 2rem 0 2rem 0;
  position: sticky;
  top: 0;
  width: 100%;
}

.header-left, .header-right {
  gap: 1rem;
}

.btn-toggle {
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-container {
  width: 100%;
}

.about-container {
  gap: 3rem;
}

.about-text, .project-text  {
  width: 50%;
  font-size: 1.33rem;
}

.projects-container {
  width: 100%;
}

.project-text {
  width: 50%;
}

a {
  text-decoration: none;
  color: inherit;
}

.intro-container {
  flex-direction: column;
  height: 80vh;
  font-size: 3.33rem;
  font-weight: bold;
  /* animation: slide-in 0.7s both; */
}


.rotate span {
  display: inline-flex;
  animation: rotate 10s infinite;
}

.span-space {
  margin: 0 10px;
}

.main-container {
  flex-direction: column;
  justify-content: column;
}

@keyframes slide-in {
  0% {
    transform: translateY(-1000px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes rotate {
  0%,
  75% {
      transform: rotateY(360deg);
  }
}

.name-effect span:nth-of-type(1) {
  animation-delay: 0.2s;
}
.name-effect span:nth-of-type(2) {
  animation-delay: 0.4s;
}
.name-effect span:nth-of-type(3) {
  animation-delay: 0.6s;
}
.name-effect span:nth-of-type(4) {
  animation-delay: 0.8s;
}
.name-effect span:nth-of-type(5) {
  animation-delay: 1s;
}
.name-effect span:nth-of-type(6) {
  animation-delay: 1.2s;
}

.name-effect span:nth-of-type(7) {
  animation-delay: 1.4s;
}

.name-effect span:nth-of-type(8) {
  animation-delay: 1.6s;
}

.name-effect span:nth-of-type(9) {
  animation-delay: 1.8s;
}

.name-effect span:nth-of-type(10) {
  animation-delay: 2s;
}

.embla {
  overflow: hidden;
  width: 100%;
  margin-bottom: 200px;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 6rem;
  border: 1px dotted var(--text-color);
  margin-left: 1.33rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.embla__slide i {
  font-size: 2rem;
}

.embla__slide p {
  font-size: 1rem;
}

.skill__index {
  font-size: 0.5rem;
  display: flex;
}




@media screen and (max-width: 750px) {
  .current-title {
    font-size: 30px;
  }

  .carousel-container {
    width: 100vw;
  }

  p {
    font-size: 15px;
  }

  h2 {
    font-size: 25px;
  }

  .toggle-switch {
    padding: 0 2.5rem 0 1rem
  }

  .slider {
    width: 80%;
    height: 20px;
    border-radius: 20px;
  }

  .slider::before {
    top: 3px;
    left: 10px;
    width: 15px;
    height: 15px;
  }

  .embla {
    width: 65%;
  }

  .embla__slide {
    flex: 0 0 4.5rem;
    border: 1px dotted var(--text-color);
    padding: 0.2rem;
  }
  
  .embla__slide i {
    font-size: 1.5rem;
  }
  
  .embla__slide p {
    font-size: 0.8rem;
  }
  
}